table {
    table-layout: fixed ;
    width: 100% ;
}

tr {
    display: flex;
    height: 5%;
}

td {
    width: 5%;
    height: 5%;
    border: 1px solid darkslategrey;
    border-collapse: collapse;
}

td:empty::after {
    content: "\00a0";
}